<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset= "UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Reminder
    </title>
</head>
<body>
    <main>
        <div>
            <h1>{{todo_object.item }}</h1>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thread>
                <tbody>
                    {% for item in list_detail.items.all %}
                    <tr>
                        <td> {{ item.task }}</td>
                        <td> {{ item.due_date }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
